<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kong.frameapp">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:name="com.kong.frameapp.util.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".test.TestKotlinActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>


        <activity android:name=".modules.main.ui.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>


        <activity android:name=".modules.main.ui.TestActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.LauncherAppTheme">

        </activity>

        <activity
            android:name=".modules.zhihu.ui.ZhiHuStoryDetailActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <activity
            android:name=".modules.video.ui.VideoTypeListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".modules.video.ui.VideoDetailActivity"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentFullScreenTheme"/>


        <activity
            android:name=".modules.wynews.ui.NewsChannelActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".modules.wynews.ui.NewsDetailActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme_Night"/>

        <activity
            android:name=".widget.channelview.ChannelActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme_Night"/>

        <activity
            android:name=".modules.customnews.ui.CustomNewsChannelActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme_Night"/>


        <activity
            android:name=".modules.sortslide.BubbleSortActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>


    </application>

</manifest>